body {
    /* font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    margin: 0;
}

.container {
    padding-top: 12px;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.site-header {
    border-bottom: 1px solid #e8e8e8;
    min-height: 56px;
    background-color: #8C1515;
}

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0
}

.title-wrap {
    text-align: center;
}

p {
    margin: 0 0 0px;
}

.site-title,
.site-title:hover,
.site-title:visited {
    display: block;
    font-size: 26px;
    line-height: 56px;
    position: relative;
    z-index: 1;
    color: #FFF;
    font-weight: 200;
    text-decoration: none;
}

h2 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    font-size: 160%;
}

h3 {
    font-size: 120%;
    font-weight: bold;
}

a,
a:hover {
    color: inherit;
}

.entry-content a {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.entry-content a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

#search-demo-container {
    max-width: 40em;
    padding: 1em;
    margin: 1em auto;
    border: 1px solid lightgrey;
}

#myInput {
    display: inline-block;
    padding: .5em;
    width: 100%;
    font-size: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.td-title {
    width: 45%;
    vertical-align: top;
}
.td-title>p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.td-title>h4{
    margin-top: 16px;
}

.td-details {
    width: 20%;
    margin-top: 16px;
    vertical-align: top;
}

.td-solutions {
    width: 20%;
    
}

.published {
    overflow: hidden;
}


thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}




.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    text-indent: initial;
    border-spacing: 2px; 
    overflow: auto;   
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}


table tr:nth-child(even){
    background-color: var(--bs-table-striped-bg);
}

.table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table > thead {
    vertical-align: bottom;
    display: table-header-group;
    border-bottom-color: var(--bs-table-striped-color);
    border-bottom-width: 2.5px;
}



/* 模态框 */
.modal {
    display: none; /* 默认情况下隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 放置在顶层 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 允许滚动 */
    background-color: rgba(0,0,0,0.4); /* 半透明黑色背景 */
  }
  
  /* 模态框内容 */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
  }
  
  /* 关闭按钮 */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }